* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(206, 153, 206);
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 20px;
}

.principal{
    text-align: center;
}

hr {
    background-color: rgb(212, 121, 212);
    width: 70%;
    margin: auto;
    height: 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #888;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f05dec;
    color: #fff;
}